body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242121;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* navbar css */
.navbar {
  background-color: #292828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 25px;
  margin-bottom: 5%;
}
.log-div {
  display: flex;
  align-items: center;
}
.searchbar-div {
  display: flex;
  gap: 60px;
  width: 50%;
}
.search-input {
  width: 100%;
  background-image: url();
  border: none;
  border-radius: 5px;
  padding: 7px;
  outline: none;
  background-color: #373737;
  color: #ffffffad;
  padding-left: 40px;
  position: relative;
}
.search-bar {
  width: 80%;
}
.search-button {
  width: 19%;
}

.search-btn {
  width: 100%;
  padding: 5px;
  border-radius: 0;
  border: 2px solid #ffffff45;
  background: #292828;
  color: #ffffffbf;
}

.icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.log.image-nav {
  width: 15%;
}
.log-name.image-nav {
  width: 50%;
  margin-left: 7px;
}
.image-nav {
  width: 73%;
}
/* image list */
.book-list {
  display: flex;
  color: #ffffff;
  width: 95vw;
  margin-left: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.book-description {
  width: 100%;
  height: 12.5vh;
  padding: 5px 0px;
  overflow: hidden;
  color: #d2d2d2;
  font-size: small;
}
.book-info-div {
  margin-left: -10px;
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  background-color: #415f71;
  width: 16vw;
  height: 28vh;
  margin-top: 4%;
  box-shadow: 0 0 3px 1px grey;
}
.Book-item {
  display: flex;
  margin-left: 10px;
}
.book-image {
  width: 170px;
  border-right: 6px double grey;
  transform: rotate(3deg);
  height: 240px;
  box-shadow: 2px 0 2px 1px white;
}
.prag {
  margin: 0;
  margin-top: 2%;
  font-weight: bold;
}
.now-read-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 3% 10%;
  margin-top: 6%;
  color: white;
}

.book-list-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  overflow: auto;
}
/* .book-list-more {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
} */
.book-list-more {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1% 2%;
  gap: 50px;
}
.only-book-image {
  width: 170px;
  height: 215px;
  border-radius: 2px;
  border-right: 6px groove silver;
  box-shadow: 2px 0 3px 1px white;
}
.book_item_1 {
  background-color: #ab71f461;
  border: none;
}
.book_item_2 {
  background-color: #f471a861;
}

/* selected image */

.select-book-list {
  display: flex;
  color: #ffffff;
  gap: 10px;
  margin: 0% 2%;
  justify-content: space-between;
  align-items: center;
}
.select-book-description {
  width: 98%;
  height: 57px;
  overflow: hidden;
  color: #d2d2d2;
  font-size: small;
}
.select-book-info-div {
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  background-color: #415f71;
  width: 80%;
  height: 234px;
  margin-top: 1%;
}
.select-Book-item {
  display: flex;
  width: 100%;
}
.select-book-image {
  width: 160px;
  border-right: 10px double white;
  transform: rotate(-2deg);
  height: 250px;
}
.select-prag {
  margin: 0;
  margin-top: 2%;
  font-weight: bold;
  font-size: larger;
}
.select-now-read-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 25px;
  margin-top: 1%;
  color: white;
}

.select-book-title {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
}
.margin0 {
  margin: 0;
}
.info-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.search-icon-img {
  position: absolute;
  z-index: 1111;
}
.search-icon-img {
  position: absolute;
  z-index: 1111;
  width: 25px;
  margin-left: 5px;
  margin-top: 4px;
}
/* media Query */
/* MadeByShubhamJoshi */
